body {
  background-color: #3d3d3d;
  font-size: 16px;
  color: black;
  width: 98%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.header-title {
  font-family: 'Sigmar One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.header-title h1 {
  color: firebrick;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 0px;
}

.header-title h4 {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  margin-top: 0px;
}

main {
  display: flex;
  align-items: center;
}

#big-salmon-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

main p {
  color: white;
  font-family: 'Arial Black', Gadget, sans-serif;
  text-shadow: 2px 2px 1px black;
}

.breaker {
  background-color: maroon;
  width: 100%;
  height: 3px;
}

nav {
  width: 100%;
  height: 30px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.nav-button {
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-family: 'Sigmar One', cursive;
  color: firebrick;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: color 0.3s linear;
}

main {
  color: white;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.main-box {
  width: 90%;
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.left {
  width: 40%;
}

.right {
  width: 40%;
}

.left-contact {
  width: 25%;
}

.right-contact {
  width: 60%;
}

.article-box {
  width: 100%;
  background-color: #746444;
  border-left: 1px dotted black;
  border-top: 1px dotted black;
  padding: 10px;
  box-shadow: 3px 3px 2px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
}

.article-box h3 {
  font-family: arial;
  text-align: center;
}

.article-box p {
  font-family: arial;
  letter-spacing: 1.5px;
  margin-left: 5px;
  text-shadow: none;
}

.article-line {
  width: 98%;
  height: 2px;
  background-color: maroon;
}

.bottom-box {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.contact-info {
  padding: 0;
}

.contact-info li {
  font-family: arial;
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}

#chinook-img {
  width: 45%;
  margin: 5px;
  margin-left: 10px;
  max-width: 200px;
  border: 1px dotted black;
  float: right;
}

#frost-cookie-img {
  width: 35%;
  margin: 5px;
  margin-left: 5px;
  max-width: 200px;
  border: 1px dotted black;
  float: right;
}

#family-img {
  width: 100%;
  border: 1px dotted black;
}

#cutter-img {
  width: 25%;
  border: 1px dotted black;
}

#shirt-img {
  width: 25%;
  border: 1px dotted black;
}
